  <!-- footer section -->
  <footer  id="tempaltemo_footer" style="background-color: #1d1d1d;">
    <div class="container">
        <div class="row">
            <div class="col-md-4 pt-5">
                <h2 class="h2 border-bottom pb-3 border-light logo" style="color: #e93f1a;">Saddle & Spice</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li>
                        <i class="fas fa-map-marker-alt fa-fw"></i>
                        123 Consectetur at ligula 10660
                    </li>
                    <li>
                        <i class="fa fa-phone fa-fw"></i>
                        <a class="text-decoration-none" href="tel:010-020-0340">010-020-0340</a>
                    </li>
                    <li>
                        <i class="fa fa-envelope fa-fw"></i>
                        <a class="text-decoration-none" href="mailto:info@saddlespice.com">info@saddlespice.com</a>
                    </li>
                </ul>
                <ul class="list-inline text-left footer-icons">
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><img src="images/fb.png" alt=""></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><img src="images/instagram.png" alt=""></a>
                  </li>
                  <li class="list-inline-item border border-light rounded-circle text-center">
                      <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><img src="images/twitter.png" alt=""></a>
                  </li>
              </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Menu</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href={{ path('menu', parameters = []) }}></a></li>
                </ul>
            </div>

            <div class="col-md-4 pt-5">
                <h2 class="h2 text-light border-bottom pb-3 border-light">Pages</h2>
                <ul class="list-unstyled text-light footer-link-list">
                    <li><a class="text-decoration-none" href={{ path('home', parameters = []) }}>Acceuil</a></li>
                    <li><a class="text-decoration-none" href={{ path('about', parameters = []) }}>A propos de nous</a></li>
                    <li><a class="text-decoration-none" href={{ path('gallery', parameters = []) }} >Gallerie</a></li>
                    <li><a class="text-decoration-none" href={{ path('contact', parameters = []) }}>Contact</a></li>
                </ul>
            </div>

        </div>

        <div class="row text-light mb-4">
            <div class="col-12 mb-3" style="margin-bottom: -1rem !important;">
                <div class="w-100 my-3 border-top border-light"></div>
            </div>
        </div>
    </div>

    <div class="w-100 bg-black py-3">
        <div class="container">
            <div class="row pt-2" style="padding-top: 0rem !important;">
                <div class="col-12">
                    <p class="text-left text-light" style="text-align: center !important;">
                        Copyright © 2024 Saddle & Spice 
                    </p>
                </div>
            </div>
        </div>
    </div>

  </footer>
  <!-- footer section -->
  
<script src="https://cdn.jsdelivr.net/gh/cnumr/ecoindex_badge@3/assets/js/ecoindex-badge.js" defer></script>
